{{define "content"}}

<div class="container welcome-section">
  <h3>Administrationsbereich</h3>
</div>

<div class="container abstandGrid">
  <div class="row">
    <div class="col equip">
      <div class="row">
        <div class="col center">
          <i class="fas fa-clipboard-list iconsizeadmin"></i>
        </div>
      </div>
      <div class="row abstandTop20">
        <div class="col center">
          <a href="/admin/equipment">  <button type="button" class="btn btn-primary">Equipment-Verwaltung</button></a>
        </div>
      </div>
    </div>
    <div class="col kunde">
      <div class="row">
        <div class="col center">
          <i class="fas fa-users iconsizeadmin"></i>
        </div>
      </div>
      <div class="row abstandTop20">
        <div class="col center">
          <a href="/admin/clients">  <button type="button" class="btn btn-primary">Kunden-Verwaltung</button></a>
        </div>
      </div>
    </div>
  </div>
</div>

{{end}}