{{define "content"}}

<div class="container">
  <div class="row headline">
    <div class="col">
      <h3 style="font-weight: bold ">Equipment bearbeiten</h3>
    </div>
  </div>
  <form enctype="multipart/form-data" action="/admin/edit-equipment" method="post">
    <div class="row formProfil abstandGrid">
      <div class="col">
        <div class="row">
          <div class="form-group col">
            <label for="Bezeichnung">Bezeichnung:</label>
            <input type="text" name="bezeichnung" class="form-control" value="{{.Equipment.Bezeichnung}}">
          </div>
          <div class="form-group col">
            <label for="Kategorie">Kategorie:</label>
            <select name="kategorie" id="Kategorie" class="form-control">
            <option value="1"{{if eq .Equipment.Kategorie.ID 1}} selected {{end}}>Kamera</option>
            <option value="2"{{if eq .Equipment.Kategorie.ID 2}} selected {{end}}>Objektiv</option>
            <option value="3"{{if eq .Equipment.Kategorie.ID 3}} selected {{end}}>Stativ</option>
            <option value="4"{{if eq .Equipment.Kategorie.ID 4}} selected {{end}}>Mikrofon</option>
            <option value="5"{{if eq .Equipment.Kategorie.ID 5}} selected {{end}}>Drohne</option>
            <option value="6"{{if eq .Equipment.Kategorie.ID 6}} selected {{end}}>Zubehör</option>
          </select>
          </div>
        </div>
        <div class="row">
          <div class="form-group col">
            <label for="Invnr">Inventar-Nummer:</label>
            <input type="text" name="invnr" class="form-control" value="{{.Equipment.InventarNr}}">
          </div>
          <div class="form-group col">
            <label for="Lagerort">Lagerort:</label>
            <select name="lagerort" id="Lagerort" class="form-control">
            <option value="1"{{if eq .Equipment.Lagerort.ID 1}} selected {{end}}>Regal 1</option>
            <option value="2"{{if eq .Equipment.Lagerort.ID 2}} selected {{end}}>Regal 2</option>
            <option value="3"{{if eq .Equipment.Lagerort.ID 3}} selected {{end}}>Regal 3</option>
          </select>
          </div>
        </div>
        <div class="row">
          <div class="form-group col">
            <label for="Inhalt">Inhalt:</label>
            <input type="text" name="inhalt" class="form-control" value="{{.Equipment.Inhalt}}">
          </div>
          <div class="form-group col">
            <label for="Anzahl">Anzahl:</label>
            <input type="number" name="anzahl" value="{{.Equipment.Anzahl}}" class="form-control">
          </div>
        </div>
        <div class="row">
          <div class="form-group col">
            <label for="Hinweise">Hinweise für den Benutzer:</label>
            <textarea name="hinweise" id="Hinweise" cols="5" rows="5" class="form-control" value="{{.Equipment.Hinweise}}"></textarea>
          </div>
        </div>
        <div class="row abstandTop20 buttons">
          <div class="col">
            <button type="submit" name="speichern" value="{{.Equipment.ID}}" class="btn btn-block btn-primary">Änderungen speichern</button>
          </div>
          <div class="col"></div>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <div class="col center">
            <img id="showbild" src="{{.Equipment.Bild}}" alt="img" onclick="previewFile()" class="festeGroesse350x350">
            <input id="inputUploadBild" type="file" name="uploadfile" style="display: none" onchange="loadFile()" />
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

{{end}}