{{define "content"}}

<div class="container equipgrid">
  <div class="row ">
    <div class="col headline ">
      <h3 style="font-weight: bold ">Equipment</h3>
    </div>
    <div class="col searchbar ">
      <small>Kategorie</small>
      <div>
        <input type="text " placeholder="Suche " id="search-box" onkeyup="search()">
        <select name=" " id="select-category" onchange="search()">
          <option selected value="all">Alle</option>
          {{range .AllCategories}}
            <option value="{{.ID}}">{{.KategorieName}}</option>
          {{end}}
        </select>
      </div>
    </div>
    <div class="col sortbar ">
      <small>Sortieren nach</small>
      <div>
        <select id="select-sortorder">
          <option value="none"></option>
          <option value="name">Name</option>
          <option value="category">Kategorie</option>
          <option value="anzahl">Verfügbarkeit</option>
        </select>
      </div>
    </div>
  </div>

  <div class="row equiprow abstandGrid elements ">
    {{range .EquipmentListe}}
    <div class="col-6 equipprodukt vorgegrid filter-element" data-name={{.Bezeichnung}} data-category="{{.Kategorie.ID}}" data-anzahl="{{.Anzahl}}">
      <div class=" row ">

        <div class="col ">
          <h5 style="font-weight:bold ">{{.Bezeichnung}}</h5>
          <p>{{.Inhalt}}</p>
          <small>{{.Hinweise}}</small>
        </div>
        <div class="col ">
          <img src="{{.Bild}} " alt="img " class="festeGroesse150x150 " id="equipbild{{.ID}}">
        </div>
      </div>
      <div class="row ">
        <div class="col-6 ">
          <div class="row ">
            <div class="col-6 ">
              {{if eq .Anzahl 0}}
              <a href="/bookmark?id={{.ID}} " role="button " class="btn btn-primary " style="background-color: gray; ">Vormerken</a> {{else}}
              <a href="/addtocart?id={{.ID}} " role="button " class="btn btn-primary " onclick="addtocart({{.ID}})">In den Warenkorb</a>{{end}}
            </div>
            <div class="col-6 " style="display:flex; align-items:center; justify-content:flex-end ">
              <small style="text-align:right ">{{.Anzahl}} Verfügbar</small>
            </div>
          </div>
        </div>
        <div class="col-6 " style="display:flex; align-items:center; ">
          <a href="/bookmark?id={{.ID}} " role="button " style="font-size:140%; color: gray; " class="iconBookmark "><i class="far fa-bookmark "></i></span></a>
        </div>
      </div>
    </div>
    {{else}}
    <div style="color:gray; font-size:35px">Kein Equipment Verfügbar</div>
    {{end}}
  </div>
</div>
{{end}}