{{define "content"}}
<div class="container welcome-section">
  <h1>Noch kein Kunde bei uns?</h1>
</div>


<div class="container">
  <form action="/register" method="post">
    <div class="row abstandTop20">
      <div class="col-6">
        <label for="Benutzername">Benutzername:</label>
        <input type="text" name="benutzername" required="required" class="form-control">
      </div>
      <div class="col-6">
        <label for="EMail">E-Mail:</label>
        <input type="text" name="email" required="required" class="form-control">
      </div>
    </div>
    <div class="row abstandTop20">
      <div class="col-6">
        <label for="Passwort">Passwort:</label>
        <input type="password" name="passwort" required="required" class="form-control">
      </div>
      <div class="col-6">
        <label for="Passwortwiederholen">Passwort wiederholen:</label>
        <input type="password" name="passwortwdh" required="required" class="form-control">
      </div>
    </div>
    <div class="row abstandTop20">
      <div class="col-4"></div>
      <div class="col-4">
        <button type="submit" class="btn btn-block btn-primary">Registrieren</button>
      </div>
      <div class="col-4"></div>
    </div>
  </form>
</div>
{{end}}