{{define "header"}}

<nav class="container navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand borgdir-color brand-size" href="/admin/index">borgdir.media</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse anordnung-nav-items1" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/equipment">Equipment <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/admin/clients">Kunden</a>
      <a class="nav-item nav-link" href="/logout">Logout</a>
    </div>
  </div>
  <div class="collapse navbar-collapse anordnung-nav-items2" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <div class="center">
        <i class="far fa-user-circle avatar"></i>
        <a href="/profil" class="nav-link">
          <div>
            {{.User.Benutzername}} <br><small class="borgdir-color">{{.User.BenutzerTyp}}</small>
          </div>
        </a>
      </div>
    </div>
  </div>
</nav>

{{end}}