{{define "content"}}

<div class="container kundegridhead">
  <div class="row abstandTop20">
    <div class="col headline2">
      <h3 style="font-weight: bold ">Kunden verwalten</h3>
    </div>
    <div class="col searchbar">
      <small>Kategorie</small>
      <div><input type="text " placeholder="Suche " id="searchbox-clients">
        <select name=" " id="select-category ">
        <option selected value="all">Alle</option>
        <option value="Benutzer">Benutzer</option>
        <option value="Verleiher">Verleiher</option>
      </select></div>

    </div>
  </div>
</div>

<div class="container kundegrid">
  <div class="row beschr abstandGrid">
    <div class="col-4 beschrFont">
      Kunde
    </div>
    <div class="col-5 beschrFont">
      Ausgeliehenes Equipment
    </div>
    <div class="col-2 beschrFont">
      Status
    </div>
  </div>
  <div>
    <hr>
  </div>
  {{range .UserListe}}
  <div class="row cartgrid abstandGrid filter-element" data-name="{{.User.Benutzername}}" data-category="{{.User.BenutzerTyp}}">
    <div class="col-4 cartprod">
      <div class="row">
        <div class="col">
          <img src="{{.User.Bild}}" alt="img" class="festeGroesse150x150">
        </div>
        <div class="col">
          <h5 style="font-weight:bold">{{.User.Benutzername}}</h5>
          <small>ID: {{.User.ID}}</small>
          <br>
          <small class="borgdir-color">{{.User.BenutzerTyp}}</small>
        </div>
      </div>
    </div>
    <div class="col-5 beschreibung">
      <ul>{{range .EquipmentListeByUser}}
        <li>{{.Bezeichnung}}</li> {{else}} Nichts ausgeliehen {{end}}
      </ul>
    </div>
    <div class="col-2 entl">
      Konto aktiv bis: <br> <span class="borgdir-color">{{.User.AktivBis}}</span>
    </div>
    <div class="col-1 button">
      <a href="/admin/edit-client?id={{.User.ID}}"><i class="fas fa-pencil-alt iconspez"></i></a>
    </div>
  </div>
  {{else}}
  <div style="color:gray; font-size:35px">Keine Benutzer vorhanden</div>
  {{end}}
</div>

{{end}}