{{define "content"}}

<div class="container myequipgrid">
  <div class="row headline">
    <div class="col">
      <h3 style="font-weight: bold ">Warenkorb</h3>
    </div>
  </div>
  <div class="row beschr abstandGrid">
    <div class="col-4 beschrFont">
      Equipment
    </div>
    <div class="col-3 beschrFont">
      Beschreibung
    </div>
    <div class="col-2 beschrFont">
      Anzahl
    </div>
    <div class="col-2 beschrFont">
      Rückgabe bis
    </div>
    <div class="col-1 beschrFont">
      Löschen
    </div>
  </div>
  <div>
    <hr>
  </div>
  {{range .Ausleihvorgang}}
  <div class="row cartgrid abstandGrid">
    <div class="col-4 cartprod">
      <div class="row">
        <div class="col">
          <img src="{{.EuqipmentItem.Bild}}" alt="img" class="festeGroesse150x150">
        </div>
        <div class="col">
          <h5>Noch zu fuellen</h5>
          <small>ID: Noch zu fuellen</small>
        </div>
      </div>
    </div>
    <div class="col-3 beschreibung">
      <p>Noch zu fuellen</p>
    </div>
    <div class="col-2 anzahl">
      <select name=" " id="">
      <option value="0">0</option>
      <option value="1" selected>1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      </select>
    </div>
    <div class="col-2 rueckgbis borgdir-color">
      Noch zu fuellen
    </div>
    <div class="col-1 verl">
      <a href="#"><i class="far fa-trash-alt iconspez"></i></a>
    </div>
  </div>
  <div class="row ausleihbtn">
    <div class="col" style="display:flex; justify-content:flex-end">
      <button type="button" class="btn btn-primary">Jetzt Ausleihen</button>
    </div>
  </div>
  {{else}}
  <div style="color:gray; font-size:35px">Nichts im Warenkorb</div> {{end}}
</div>

{{end}}