{{define "content"}}

<div class="container <profilbearb></profilbearb>">
  <div class="row headline">
    <div class="col">
      <h3 style="font-weight: bold ">Profil bearbeiten</h3>
      <h5>Status: <span class="borgdir-color">{{.BenutzerStatus}}</span></h5>
    </div>
  </div>
  <div class="row formProfil abstandGrid">
    <div class="col">
      <form enctype="multipart/form-data" action="/profil" method="post">
        <div class="row">
          <div class="form-group col">
            <label for="Benutzername">Benutzername:</label>
            <input type="text" name="benutzername" class="form-control">
          </div>
        </div>
        <div class="row">
          <div class="form-group col">
            <label for="Email">E-Mail Adresse:</label>
            <input type="text" name="email" class="form-control">
          </div>
        </div>
        <div class="row">
          <div class="form-group col">
            <label for="altPasswort">Altes Passwort:</label>
            <input type="password" name="passwortalt" class="form-control">
          </div>
        </div>
        <div class="row">
          <div class="form-group col">
            <label for="neuPasswort">Neues Passwort:</label>
            <input type="password" name="passwortneu" class="form-control">
          </div>
        </div>
        <div class="row">
          <div class="form-group col">
            <label for="neuPasswortwdh">Neues Passwort wiederholen:</label>
            <input type="password" name="passwortneuwdh" class="form-control">
          </div>
        </div>
        <div class="row abstandTop20 buttons">
          <div class="col">
            <button type="submit" name="speichern" value="2" class="btn btn-block btn-primary">Änderungen speichern</button>
          </div>
          <div class="col">
            <button type="submit" name="speichern" value="1" class="btn btn-block btn-primary btn-black" onclick="document.getElementById('hiddendel').value=1;return false;">Konto löschen</button>
          </div>
        </div>
    </div>
    <div class="col">
      <div class="row">
        <div class="col center">
          <img id="profilbild" class="bild" src="http://via.placeholder.com/350x350" alt="img" onclick="previewFile()" class="festeGroesse350x350" style="max-height:350px; max-width:350px;">
          <input id="inputProfilbild" type="file" name="uploadfile" style="display: none" onchange="loadFile()" />
        </div>
      </div>
    </div>
    </form>
  </div>
</div>

{{end}}