{{define "content"}}

<div class="container <profilbearb></profilbearb>">
  <div class="row headline">
    <div class="col">
      <h3 style="font-weight: bold ">Profil bearbeiten</h3>
      <h5>Status: <span class="borgdir-color">{{.UserData.BenutzerTyp}}</span></h5>
    </div>
  </div>
  <div class="row formProfil abstandGrid">
    <div class="col">
      <form enctype="multipart/form-data" action="/profil" method="post">
        <div class="row">
          <div class="form-group col">
            <label for="Benutzername">Benutzername:</label>
            <input type="text" name="benutzername" class="form-control" value="{{.UserData.Benutzername}}">
          </div>
        </div>
        <div class="row">
          <div class="form-group col">
            <label for="Email">E-Mail Adresse:</label>
            <input type="text" name="email" class="form-control" value="{{.UserData.Email}}">
          </div>
        </div>
        <div class="row">
          <div class="form-group col">
            <label for="altPasswort">Altes Passwort:</label>
            <input type="password" name="passwortalt" class="form-control" value="{{.UserData.Passwort}}">
          </div>
        </div>
        <div class="row">
          <div class="form-group col">
            <label for="neuPasswort">Neues Passwort:</label>
            <input type="password" name="passwortneu" class="form-control">
          </div>
        </div>
        <div class="row">
          <div class="form-group col">
            <label for="neuPasswortwdh">Neues Passwort wiederholen:</label>
            <input type="password" name="passwortneuwdh" class="form-control">
          </div>
        </div>
        <div class="row abstandTop20 buttons">
          <div class="col">
            <button type="submit" name="speichern" value="{{.UserData.ID}}" class="btn btn-block btn-primary">Änderungen speichern</button>
          </div>
          <div class="col">
            <div style="background-color: black;padding: 5px 10px 5px 10px; text-align: center; border-radius:50px;" class="sperren">
              <a href="/konto-loeschen?id={{.UserData.ID}}" style="text-decoration: none; color:white;">Konto löschen</a>
            </div>
          </div>
        </div>
    </div>
    <div class="col">
      <div class="row">
        <div class="col center">
          <img id="showbild" class="bild" src="{{.UserData.Bild}}" alt="img" onclick="previewFile()" class="festeGroesse350x350" style="max-height:350px; max-width:350px;">
          <input id="inputUploadBild" type="file" name="uploadfile" style="display: none" onchange="loadFile()" />
        </div>
      </div>
    </div>
    </form>
  </div>
</div>

{{end}}