{{define "content"}}

<div class="container <profilbearb></profilbearb>">
  <div class="row headline">
    <div class="col">
      <h3 style="font-weight: bold ">Profil bearbeiten</h3>
      <h5>Status: <span class="borgdir-color">{{.UserData.BenutzerTyp}}</span></h5>
    </div>
  </div>
  Profil wurde gelöscht
</div>

{{end}}